mixin advantagesSection(data)
	.advantages-section&attributes(attributes)
		._container.container
			._items.row
				._item.col-4
					._item-img
						img(src="images/advantage-1.jpg", alt="")
					._item-title Качество и надёжность
				._item.col-4
					._item-img
						img(src="images/advantage-2.jpg", alt="")
					._item-title 27 видов ламинации под дерево
				._item.col-4
					._item-img
						img(src="images/advantage-3.jpg", alt="")
					._item-title Морозостойкость и светопрозрачность

mixin advantagesSectionMini(data)
	.advantages-section.--mini-img&attributes(attributes)
		._container.container
			._row.row
				._item.col-3
					._item-img
						img(src=data.img, alt="")
					._item
						._text
							!=data.text
				._item.col-3
					._item-img
						img(src=data.img2, alt="")
					._item
						._text
							!=data.text2
				._item.col-3
					._item-img
						img(src=data.img3, alt="")
					._item
						._text
							!=data.text3
				._item.col-3
					._item-img
						img(src=data.img4, alt="")
					._item
						._text
							!=data.text4

mixin advantagesSectionImg(data)
	.advantages-section.--dilers&attributes(attributes)
		._container.container.container--text
			._title
				h2.text BRUSBOX — территория свободы <br> для вашего творчества
		._container.container
			._row.row
				._item.col-8
					._item-img
						img(src=data.img, alt="")
					h4._item-text
						!=data.text
				._item.col-4
					._item-img
						img(src=data.img2, alt="")
					h4._item-text
						!=data.text2
				._item.col-5
					._item-img
						img(src=data.img3, alt="")
					h4._item-text
						!=data.text3
				._item.col-3
					._item-img
						img(src=data.img4, alt="")
					h4._item-text
						!=data.text4
				._item.col-4
					._item-img
						img(src=data.img5, alt="")
					h4._item-text
						!=data.text5
				._item.col-4
					._item-img
						img(src=data.img6, alt="")
					h4._item-text
						!=data.text6
				._item.col-8
					._item-img
						img(src=data.img7, alt="")
					h4._item-text
						!=data.text7