include ../breadcrumbs/template

mixin headSection(data)
	.head-section&attributes(attributes)
		picture
			if data.imgSm
				source(media="(max-width: 770px)" srcset=data.imgSm)
			if data.imgXs
				source(media="(max-width: 450px)" srcset=data.imgXs)
			img(src=data.img, alt="")._img
		._container.container
			._info
				+breadcrumbs({
					items: data.bread
				})._bread
				h1._title
					!=data.title
				if data.subtitle
					._subtitle
						!=data.subtitle
				if data.btn
					._button
						a(href="#").btn.-border.-white
							!=data.btn

mixin headSectionMode(data)
	.head-section.--mode&attributes(attributes)
		img(src=data.img, alt="")._img
		+breadcrumbs({
			items: data.bread
		})._bread
		._info
			h1._title
				!=data.title
			._subtitle
				!=data.subtitle

mixin headSectionSlider(data)
	.head-section.--slider&attributes(attributes)
		._slider.js-slider-head
			._slide
				picture
					if data.imgSm
						source(media="(max-width: 770px)" srcset=data.imgSm)
					if data.imgXs
						source(media="(max-width: 450px)" srcset=data.imgSm)
					img(src=data.img, alt="")._img
				._container.container.container--text
					._info
						h1._title
							!=data.title
						if data.subtitle
							._subtitle
								!=data.subtitle
						if data.btn2
							._button
								a(href="#").btn.-border.-white
									!=data.btn

			._slide
				img(src=data.img2, alt="")._img
				._container.container.container--text
					._info
						h1._title
							!=data.title2
						if data.subtitle2
							._subtitle
								!=data.subtitle2
						if data.btn2
							._button
								a(href="#").btn.-border.-white
									!=data.btn2