include ../form-block/template

mixin infoSection(data)
	.info-section&attributes(attributes)
		._container.container
			._row.row
				._info.col-6.col-sm-12
					if data.title
						h4._title
							!=data.title
					if data.text
						._text
							!=data.text
				if data.img
					._img.col-6.col-sm-12
						img(src=data.img, alt="")

mixin infoSectionForm(data)
	.info-section.--form&attributes(attributes)
		._container.container
			._row.row
				._info.col-6.col-sm-12
					+formBlockContactsOrderSubtitle({
						title: 'Закажите лучшие окна в BRUSBOX!',
						subtitle: 'Оставьте заявку и наш специалист свяжется с вами для расчета',
						agree: 'Нажимая кнопку «Отправить», я подтверждаю свою дееспособность, согласие на обработку персональных данных<br> в соответствии с указанным здесь текстом'
					})
				if data.img
					._img.col-6.col-sm-12
						img(src=data.img, alt="")

mixin infoSectionImgParams(data)
	.info-section&attributes(attributes)
		._container.container.container--full
			._row.row
				._img.col-6.col-sm-12
					img(src=data.img alt='')
				._info.col-6.col-sm-12
					._title.title-h5
						!= data.title
					+paramBlock({
						list: data.list
					})._params

mixin infoSectionParams(data)
	.info-section.info-section--col-center.info-section--transparent&attributes(attributes)
		._container.container 
			._row.row.row--center
				._col.col-6.col-xs-12
					._title.title-h5
						!= data.title
					+paramBlock({
						list: data.list
					})._params

mixin infoSectionButton(data)
	.info-section.-btn&attributes(attributes)
		._container.container
			._row.row
				._info.col-6.col-sm-12
					if data.title
						h4._title
							!=data.title
					if data.text
						._text
							!=data.text
					if data.btn
						._button
							a(href="#").btn.-border.-white 
								!=data.btn
				if data.img
					._img.col-6.col-sm-12
						img(src=data.img, alt="")

mixin infoSectionButtonRed(data)
	.info-section.-btn.-title-margin&attributes(attributes)
		._container.container
			._row.row
				._info.col-6.col-sm-12
					if data.title
						h2._title
							!=data.title
					if data.text
						._text
							!=data.text
					if data.btn
						._button
							a(href="#").btn.-border.-red 
								!=data.btn
				if data.img
					._img.col-6.col-sm-12
						img(src=data.img, alt="")

mixin infoSectionAboutCompany(data)
	.info-section--about-company&attributes(attributes)
		._container.container
			._title
				h5 Ознакомьтесь подробнее с компанией BRUSBOX
			._items.row
				._item.col-3
					a(href="#")
						._item-img
							img(src="images/about-company-2.jpg", alt="")
						._item-title История BRUSBOX
				._item.col-3
					a(href="#")
						._item-img
							img(src="images/about-company-3.jpg", alt="")
						._item-title Поставщики
				._item.col-3
					a(href="#")
						._item-img
							img(src="images/about-company-4.jpg", alt="")
						._item-title Дипломы и сертификаты
				._item.col-3
					a(href="#")
						._item-img
							img(src="images/about-company-5.jpg", alt="")
						._item-title Реализованные объекты

mixin infoSectionSliderImg(data)
	.info-section.--slider-img&attributes(attributes)
		._slider.js-slider-info
			each item in data.items
				._slide
					._row.row
						._container
							._info.col-6
								._text
									!=item.text
							._img.col-6
								<a href="#" class="info-section__prev slick-arrow slick-prev" tabindex="-1">
									<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2894_13921)"><rect width="48" height="49" rx="24" fill="white" fill-opacity="0.2"/><path d="M4.90909 8.90909L30 24.5L4.90909 40.0909L-20.1818 24.5L4.90909 8.90909Z" fill="#E40032"/></g><defs><clipPath id="clip0_2894_13921"><rect width="48" height="49" rx="24" fill="white"/></clipPath></defs></svg>
								</a>
								img(src=item.img, alt="")
								<a href="#" class="info-section__next slick-arrow slick-next" tabindex="-1">
									<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2894_13921)"><rect width="48" height="49" rx="24" fill="white" fill-opacity="0.2"/><path d="M4.90909 8.90909L30 24.5L4.90909 40.0909L-20.1818 24.5L4.90909 8.90909Z" fill="#E40032"/></g><defs><clipPath id="clip0_2894_13921"><rect width="48" height="49" rx="24" fill="white"/></clipPath></defs></svg>
								</a>
							if item.btn
								._button
									a(href="#").btn.-border.-white
										!=item.btn
			
	
mixin infoSectionSlider(data)
	.info-section.-btn.-slider&attributes(attributes)
		._container.container
			._row.row
				._info.col-6.col-sm-12
					if data.title
						h2._title
							!=data.title
					if data.text
						._text
							!=data.text
					if data.btn
						._button
							a(href="#").btn.-border.-red 
								!=data.btn
				._slides.col-6.col-sm-12
					._slider.swiper.mySwiper
						._slider-wrap.swiper-wrapper
							._slide.swiper-slide
								img(src="images/swiper-product-1.png", alt="")
							._slide.swiper-slide
								img(src="images/swiper-product-2.png", alt="")
							._slide.swiper-slide
								img(src="images/swiper-product-2.png", alt="")
							._slide.swiper-slide
								img(src="images/swiper-product-1.png", alt="")
						.swiper-button-prev
							+svg('slider-arrow-right')
						.swiper-button-next
							+svg('slider-arrow-right')
							
mixin infoSectionMarket(data)
	.info-section.-btn.-title-margin.-img-half&attributes(attributes)
		._container.container
			._row.row
				._info
					if data.title
						h2._title
							!=data.title
					if data.text
						._text
							!=data.text
					if data.btn
						._button
							a(href="#").btn.-border.-red 
								!=data.btn
				if data.img
					._img.col-6
						img(src=data.img, alt="")

mixin infoSectionMarketBlack(data)
	.info-section.-btn.-title-margin.-img-half.-bg-black&attributes(attributes)
		._container.container
			._row.row
				._info
					if data.title
						h2._title
							!=data.title
					if data.text
						._text
							!=data.text
					if data.btn
						._button
							a(href="#").btn.-border.-red 
								!=data.btn
				if data.img
					._img.col-6
						img(src=data.img, alt="")